In [1]:
1+1

[1] 2

In [2]:
y <- c(1.7, "a")
y

[1] "1.7" "a"

In [3]:
class(y)

[1] "character"

In [4]:
1:10

 [1]  1  2  3  4  5  6  7  8  9 10

In [8]:
#matrices

In [7]:
m = matrix(nrow = 2, ncol = 3) #matrices
m

     [,1] [,2] [,3]
[1,] NA   NA   NA
[2,] NA   NA   NA

In [6]:
dim(m)

[1] 2 3

In [10]:
m=matrix(1:6, nrow = 2, ncol = 3)
m

     [,1] [,2] [,3]
[1,] 1    3    5
[2,] 2    4    6

In [12]:
#crea matrices a partir de 2 vectores
x= 1:3
y= 10:12

cbind(x, y)

     x y
[1,] 1 10
[2,] 2 11
[3,] 3 12

In [13]:
#para crear listas
x= list(1, "a", TRUE)
x

[[1]]
[1] 1

[[2]]
[1] "a"

[[3]]
[1] TRUE

In [ ]:

install.packages("tidyverse")

In [ ]:
library(tidyverse)

In [ ]:
data(mpg)
mpg